/.DS_Store
/1_Learning
2_Job_Skills_Terzic_Project/8_Predict_Salary_Regression.ipynb
2_Job_Skills_Terzic_Project/7_Remoute_In-office.ipynb
2_Job_Skills_Terzic_Project/6_Clustering_HDBSCAN_plus.ipynb
.gitignore
.gitignore
2_Job_Skills_Terzic_Project/3_EDA_Job_Title.ipynb
2_Job_Skills_Terzic_Project/5_Clustering_Salary_Region.ipynb
2_Job_Skills_Terzic_Project/4_Clustering_NLP.ipynb
2_Job_Skills_Terzic_Project/0_Ideas.ipynb
1_Job_Skills_Course_Project/Images/Trending_Skills_for_DA.png
.gitignore
1_Job_Skills_Course_Project/Images/Salary_top5_boxplot.png
1_Job_Skills_Course_Project/Images/Skill_Demand_US_Data_Roles.png
.gitignore
1_Job_Skills_Course_Project/Images/DA_Salary_Analysis.png
.gitignore
1_Job_Skills_Course_Project/Images/Most_Optimal_Skills.png
0_Learning/7_Trending_Skills.ipynb
0_Learning/6_Functions.ipynb
0_Learning/5_Merge_Dataframes.ipynb
0_Learning/4_Indexes.ipynb
0_Learning/3_Pivot_Table.ipynb
0_Learning/8_Matplotlib.ipynb
.gitignore
.gitignore
1_Job_Skills_Course_Project/3_Skills_Trend.ipynb
1_Job_Skills_Course_Project/5_Most_Optimal_Skills.ipynb
1_Job_Skills_Course_Project/4_Salary_Analysis.ipynb
0_Learning/1_Data_Cleaning.ipynb
0_Learning/2_Data_Management.ipynb
1_Job_Skills_Course_Project/1_EDA.ipynb
1_Job_Skills_Course_Project/2_Skills_Count.ipynb
2_Job_Skills_Terzic_Project/2_EDA.ipynb
Job_Transition_Terzic_Project/.DS_Store
